<!DOCTYPE html>
<html lang="en" >
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>JOHN SMITH  - Corporate Security Officer  </title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
            <div class="left_side">
                <div class="profiletext">
                    <div class="imgbx">
                        <img src="img/user.png">
                    </div>
                    <h2>JOHN SMITH  
                    <span>Corporate Security Officer <small>(Current Role Name)</small></span>
                    </h2>
                </div>

                <div class="contactinfo">
                    <h3 class="title mb-0 ">LICENSES</h3>
                    <ul>
                        <li class="">
                            <strong class="text">Security License</strong>
                        </li>
                        <li>
                            <span class="icon">License Name:</span>
                            <span class="text">Name Here</span>
                        </li>
                        <li>
                            <span class="icon">Issuing State: </span>
                            <span class="text">State Name</span>
                        </li>
                        <li>
                            <span class="icon">Expiry Date: </span>
                            <span class="text">00-00-0000</span>
                        </li>
                    </ul>
                    <ul>
                        <li class="">
                            <strong class="text">Other License</strong>
                        </li>
                        <li>
                            <span class="icon">License Name:</span>
                            <span class="text">RSA</span>
                        </li>
                        <li>
                            <span class="icon">License Name: </span>
                            <span class="text"> First Aid</span>
                        </li>
                    </ul>
                </div>
                <div class="contactinfo education">
                    <h3 class="title">CONTACT</h3>
                    <ul>
                       <li>
                           <h5>PHONE:</h5>
                           <h4>678-555-0103</h4>
                       </li>
                       <li>
                        <h5>EMAIL:</h5>
                        <a href="mailto:someone@example.com" >someone@example.com</a>
                    </li>
                    </ul>
                </div>


                <div class="contactinfo education">
                    <h3 class="title">REFERENCES</h3>
                    <ul>
                       <li>
                           <span>Will be provided on demand</span>
                       </li>
                    </ul>
                </div> 
            </div>
            <div class="right_side">
                <div class="about">
                    <h2 class="title2">PROFILE</h2>
                    <hr/>
                    <p>I am experience corporate security officer with 8 years of experience in diverse
                    range of security roles withing corporate, retail and crowd control portfolios. I
                    am confident, affirmative and take ownership of my role. I have demonstrated
                    exceptional interpersonal skills and work collaboratively with the diverse teams
                    and achieve best outcomes for my employer and clients. 
                    </p>
                </div>
                <div class="about ">
                    <h2 class="title2">Interest</h2>
                    <hr/>
                    <div class="interest" >
                        <ul>
                            <li>Employer Name </li>
                            <li>Role Name </li>
                            <li>Date Start to Date End</li>
                        </ul>
                    </div>
                    

                    <p>(Role description – worked in the corporate environment performing security
                    officer duties to monitor control room operations, supervise the field security
                    offices and complete shift reports and logs. </p>

                    <p>
                        I was responsible for responding to emergencies for the client’s head office. My
                    day-to-day duties includes:
                    </p>

                    <ul class="list">
                        <li>- Responding to security alarms and emergencies </li>
                        <li>- Supervise the field staff</li>
                        <li>- Complete shift logs and reports</li>
                        <li>- Dispatch guards for scheduled inspections</li>
                        <li>- Liaise with management and stakeholders as required</li>
                        <li>- Monitor CCTV and prepare video recordings</li>
                        <li>- Monitor access control system and respond to incidents</li>
                        <li>- Program staff passes and audit the access provisioning</li>
                    </ul>

                    <br/>

                    <div class="interest" >
                        <ul>
                            <li>Employer Name </li>
                            <li>Role Name </li>
                            <li>Date Start to Date End</li>
                        </ul>
                    </div>
                    

                    <p>(Role description – worked in the corporate environment performing security
                    officer duties to monitor control room operations, supervise the field security
                    offices and complete shift reports and logs. </p>

                    <p>
                        I was responsible for responding to emergencies for the client’s head office. My
                    day-to-day duties includes:
                    </p>
                    <ul class="list">
                        <li>- Responding to security alarms and emergencies </li>
                        <li>- Supervise the field staff</li>
                        <li>- Complete shift logs and reports</li>
                        <li>- Dispatch guards for scheduled inspections</li>
                        <li>- Liaise with management and stakeholders as required</li>
                        <li>- Monitor CCTV and prepare video recordings</li>
                        <li>- Monitor access control system and respond to incidents</li>
                        <li>- Program staff passes and audit the access provisioning</li>
                    </ul>


                </div> 

                <div class="copyright_txt" >
                    <span>Powered by</span>
                    <img src="img/cpoyright_img.png" width="41px" height="39px" />
                </div>
            </div>
        </div>
<!-- partial -->
  
</body>
</html>
